body{
    margin: 0;
    padding: 0;
    font-family: 'Ultra', serif;
    background-color: lightblue;
}

nav{
    background-color:lightsalmon;
    color:black;
    font-size: 30px;
    padding: 10px;
    height: 50px;
    width: 100%;
    display: flex;
    
}

nav ul li{
    float: left;
    list-style-type: none;
    margin-left: 100px;
    color: black;
    font-size: 15px;
}

p{
    display:flex;
    height:300px ;
    margin: 10px;
}

.barra{
    background-color: aqua;
}

header{
    background-color:green;
    color:black;
    font-size: 30px;
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

section{
    background-color: blue;
}

.banner{
    height: 200px;
}
form{
    padding: 20px;
}

form div{
    width: 80%;
    margin: auto;
}

form input{
    width: 80%;
    padding: 5px;
    height: 30px;
    border: 1px solid #aaa;
    border-radius: 10px;
}

form button{
    width: 15%;
    padding: 5px;
    height: 40px;
    border: 0;
    border-radius: 10px;
    background-color: #2d3195;
    color: white;
}


.logo{
    height: 60px;
    margin-left: 0px;
    padding: 0;
    margin: -6px;
    
}

.crepusculo{
    height: 300px;
    padding: 10px;
    width: 20%;
}

.estrelas{
    height: 300px;
    padding: 10px;
    width: 20%;   
}

.principe{
    height: 300px;
    padding: 10px;
    width: 20%;   
}